body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial;
}

.top {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

.video-box {
  position: relative;
}

video {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #22c55e;
}

.subtitle {
  position: absolute;
  bottom: 8px;
  left: 5px;
  right: 5px;
  background: rgba(0,0,0,0.6);
  padding: 4px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

.controls button {
  padding: 12px;
  font-size: 20px;
  border-radius: 50%;
}

.controls .end {
  background: red;
  color: white;
}
