body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

video {
  width: 45%;
  border: 2px solid gold;
  border-radius: 10px;
}

.videos {
  display: flex;
  justify-content: space-around;
}
